*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {
  -webkit-tap-highlight-color:transparent;
  -webkit-text-size-adjust:100%;
  text-size-adjust:100%;
  cursor:default;
  line-height:1.5;
  overflow-wrap:break-word;
  -moz-tab-size:4;
  tab-size:4;
}

html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
fieldset{border:0;}
ul{list-style:none;}

input,button,select{
    border:0;
    appearance: none;
    -webkit-appearance: none;
}

h3{
    font-weight: 300;
}

strong{
    font-variation-settings: normal;
    font-weight: 600;
}

/* μ„Έν… */
body {  
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    /* position: relative; */
    color: #171616;
    line-height: 1.4;

    @media (min-width: 1600px){
        font-size: 1vw;
    }
}